body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: slategray;
  background-image: url("./images/sw-bg.jpg");
  background-size: cover;
  background-blend-mode: multiply;
}
